@{
    ViewData["Title"] = "Delete";
}

@model MTBLogger.Models.Logged

<form method="post" asp-action="DeletePost">
    <input asp-for="LogId" hidden />
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-info pl-3">Delete Entry</h2>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="TrailName"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="TrailName" class="form-control" disabled />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Description"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Description" class="form-control" disabled />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-8 offset-4 row">
                        <div class="col">
                            <button type="submit" class="btn btn-danger w-100">
                                <i class="fas fa-trash"></i>
                            </button>
                        </div>
                        <div class="col">
                            <a asp-controller="Home" asp-action="Index" class="btn btn-success w-100">
                                <i class="fas fa-home"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                @* Keep Empty *@
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
