@{
    ViewData["Title"] = "Home Page";
}

@model MTBLogger.Models.User

<h1>Register</h1>

<form method="post" asp-action="Register">
    <div class="form-group">
        <label asp-for="FirstName"></label>
        <input class="form-control" placeholder="Enter First Name" asp-for="FirstName" />

        <label asp-for="LastName"></label>
        <input class="form-control" placeholder="Enter Last Name" asp-for="LastName" />

        <label asp-for="Email"></label>
        <input class="form-control" placeholder="Enter Email" asp-for="Email" />

        <label asp-for="Password"></label>
        <input type="password" class="form-control" placeholder="Enter Password" asp-for="Password" />
        <div class="text-center">
            <input type="submit" class="btn btn-primary w-100" value="Register" />
        </div>
    </div>
</form>
